<h1>Editing recipient</h1>

<%= render 'form' %>

<%= link_to 'Show', admin_organization_recipient_path(@organization,@recipient) %> |
<%= link_to 'Back', admin_organization_recipients_path(@organization) %>
