<div class="field">
  <div class="control-group">
    <label class="control-label" for="reportName">Choose a program for the message</label>
    <div class="controls">
      <%= p.collection_select :program_id, Program.all, :id, :name %>
    </div>
    <span class="help-inline">
      <%= link_to 'Or create', new_program_path %>
    </span>
  </div>
</div>