<div class="row-fluid">
	<div class="span4">
		<div class="btn-group dropdown">
	      <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">Sent Reminders <span class="caret"></span></a>
	      <ul class="dropdown-menu" role="dropdown" aria-labelledby="dLabel">
	      	<li>Sent</li>
	      	<li class="divider"></li>
	      	<li>Pending</li>
	      </ul>
	    </div>

	</div>
	<div class="span3">
	</div>
	<div class="span5">
		<!-- search -->
	</div>