$('#messages-table').append('<tr><td><%= radio_button_tag "message_id", @message.id, false, class: "table-row-radio" %></td><td><%= @message.message_text %></td><td><%= @message.created_at %></td><td><%= @message.updated_at %></td></tr>');
$('.modal').modal( 'hide' );