<div class="row-fluid">
  <div class="span12">
		<div class="mainHeaderGray">
			<span class="grayHighlight">Editing reminder</span>
		</div>
	</div>
</div>
	<%= render 'form' %>
	<%= link_to 'Show', @reminder %> |
	<%= link_to 'Back', reminders_path %>
</div>
