language: ruby
rvm:
  - 1.9.3
env:
  - DB=sqlite
script:
  - RAILS_ENV=test bundle exec rake --trace db:migrate test

before_install:
 - sudo apt-get update -qq
 - sudo apt-get install -qq freetds-dev