<div class="mainHeaderAqua">
  <span class="aquaHighlight">Message</span>
</div>

<%= f.input :message_id, collection: Message.all, as: :radio_buttons %>

<!--     <table class="tbl">
  <tr>
    <th>Message text</th>
    <th>Date Created</th>
    <th>Date Updated</th>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table> -->

<p>Need a new message? <a class="btn">Create new message</a>