<div class="mainHeaderAqua">
  <span class="aquaHighlight">Date and Time</span>
</div>

<%= f.input :send_date, as: :string, input_html: { class: 'datepicker' } %>
<%= f.input :send_time, as: :string, input_html: { value: '12:00pm' } %>