<div class="span4">
  <div class="sidebar">
    <div class="mainHeaderGray">
      <span class="grayHighlight">Batch import</span>
    </div>
    <div class="field">
      <div class="control-group">
        <%= link_to 'Use the batch import', new_reminder_import_path, :class => 'btn btn-primary' %>
      </div>
    </div>
  </div>
</div>