<div class="row-fluid">
  <div class="span8" id="message">
    <%= simple_form_for @reminder  do |f| %>
      
      <% if @reminder.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@reminder.errors.count, "error") %> prohibited this reminder from being saved:</h2>

          <ul>
          <% @reminder.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

    <div class="mainHeaderAqua">
      <span class="aquaHighlight">Message</span>
    </div>

    <table class="tbl">
      <tr>
        <th>Message text</th>
        <th>Date Created</th>
        <th>Date Updated</th>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </table>

    <p>Need a new message? <a class="btn">Create new message</a>

  </div>
</div><!-- message -->


<div class="row-fluid" id="recipients">
  <div class="span8">
    <div class="mainHeaderAqua">
      <span class="aquaHighlight">Recipients</span>
    </div>

    <p>Recipient groups</p>
    <table class="tbl">
      <tr>
        <td></td>
      </tr>
    </table>

    <p>Need to add different recipients? <a class="btn">Add Recipients</a></p>
  </div>
</div><!-- recipients -->

<div class="row-fluid" id="date-and-time">
  <div class="span8">

    <div class="mainHeaderAqua">
      <span class="aquaHighlight">Date and Time</span>
    </div>

    <input type="date">
    <input type="text">


    <% end %> <!-- /form -->
  </div>
</div>