<div id="message" class="span12">
  <%= simple_fields_for :message do |message_form| %>
    <%= message_form.input :name, label: "Message name" %>
    <%= message_form.input :message_text, label: "Message text", as: :text, input_html: { rows: 3 } %>
      </div>
    </div>
  <% end %>
</div>