<div class="field" id="<%= :messagetext %>">
  <div class="control-group">
      <%= m.label :messagetext, "Reminder message text", :class => 'control-label' %>
      <div class="controls">
        <%= m.text_area :messagetext, :rows=>5 %>
      </div>
  </div>
</div>