<div class="field">
  <div class="control-group">
    <label class="control-label" for="programName">Choose a program for the message</label>
    <div class="controls">
      <%= p.collection_select :reminder_id, Program.all, :id, :name %>
    </div>
  </div>
</div>