<div class="field">
  <div class="control-group">
    <label class="control-label" for="reportName">Choose a report for the message</label>
    <div class="controls">
      <%= r.collection_select :reminder_id, Report.all, :id, :humanname %>
    </div>
    <span class="help-inline">
    </span>
  </div>
</div>