<div class="field">
    <div class="control-group">
      <%= r.label :report_type, "Form name of this report", :class => 'control-label' %>
      <div class="controls">
        <%= r.text_field :report_type, :placeholder=>"QR-7, etc." %>
      </div>
    </div>
  </div>
  <div class="field">
    <div class="control-group">
      <%= r.label :humanname, "Description of this report", :class => 'control-label' %>
      <div class="controls">
        <%= r.text_area :humanname %>
      </div>
    </div> 
  </div>