<% if @sent != [] %>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Number of recipients</th>
      <th>Send date</th>
      <th>Reminder</th>
    </tr>
  </thead>
  <tbody>
    <% @sent.each do |batch, reminder| %>
    <tr>
      <td><%= reminder.first.date.to_s(:date_format) %></td>
      <td><%= reminder.first.message.message_text || reminder.first.reminder.name %></td>
      <td><%= link_to 'Edit', edit_reminder_path(reminder.first.batch_id) %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<% end %>