<div class="container">
	<div class="row-fluid dumbPadding">
		<div class="span12 mainHeaderGreen">
			<span class="greenHighlight">Reminder</span>
		</div>
	</div>
  <div class="row-fluid">
  	<div class="span8">
  		<div class="mainHeaderGray">
			<span class="grayHighlight">Reminder Date</span>
		</div>
		<p><%= params %></p>
		</div>
	</div>
</div>