<%= render 'breadcrumb' %>
<div class="row-fluid">
  <div class="span12">
		<div class="mainHeaderGray">
			<span class="grayHighlight">New Reminder</span>
		</div>

	<%= render 'form' %>

	<%= link_to 'Back', reminders_path %>
  </div>
</div>
