<div class="recentReminder">
	<%= content_tag :div, "", class: "chart", id: "calls_chart", data: {graph_data: chart_data(2.weeks.ago.to_date, "date", Conversation.unique_calls_last_month(@this_org.phone_number))} %>
</div>