<div class="recentReminder">
	<%= content_tag :div, "", class: "chart", id: "response_chart", data: {graph_data: chart_data(4.weeks.ago.to_date, "date", Conversation.organization(@organization.id).text_responses)} %>
</div>
