<% if @calls != [] %>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Call ID</th>
      <th>From</th>
      <th>Date received</th>
      <th>Recipient</th>
    </tr>
  </thead>
  <tbody>
    <% @calls.each do |c| %>
    <tr>
      <td><%= c.call_id %></td>
      <td><%= number_to_phone(c.from_number, :area_code => true) %></td>
      <td><%= c.date.to_s(:date_format) %></td>
      <td><%= c.recipients.each do |r| r.name end %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<% end %>