<div class="row-fluid">
  <div class="span12">
    <div class="pageHeader">
      <h2>All conversations</h2>
    </div>
    <div class="tabbable"> <!-- Only required for left/right tabs -->
      <ul class="nav nav-tabs">
        <li class="active"><a href="#response" data-toggle="tab">Responses</a></li>
        <li><a href="#undelivered" data-toggle="tab">Undelivered</a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="response">
          <%= render 'response', :collection => @responses || 'There are no responses.'%>
        </div>
        <div class="tab-pane" id="undelivered">
          <%= render 'undelivered', :collection => @undelivered || 'There are no undelivered reminders.' %>
        </div>
      </div>
    </div>
  </div>
</div>