<div class="row-fluid">
  <div class="span12 pageHeader">
    <div class="headerBig headerAqua">
    <span class="headerText">Conversations</span>
    </div>
  </div>
</div>
<div class="row-fluid">
  <div class="span12">
    <h1>Total calls: <%= @calls.count %></h1>
    <div class="tabbable"> <!-- Only required for left/right tabs -->
      <ul class="nav nav-tabs">
        <li class="active"><a href="#call" data-toggle="tab">Calls</a></li>
        <li><a href="#response" data-toggle="tab">Responses</a></li>
        <li><a href="#undelivered" data-toggle="tab">Undelivered</a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="call">
          <%= render 'call', :collection => @calls || 'There are no calls.'%>
        </div>
        <div class="tab-pane" id="response">
          <%= render 'response', :collection => @responses || 'There are no responses.'%>
        </div>
        <div class="tab-pane" id="undelivered">
          <%= render 'undelivered', :collection => @undelivered || 'There are no undelivered reminders.' %>
        </div>
      </div>
    </div>
  </div>
</div>