<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>This is the Promptly daily import log for <%= Date.today %>:</p>
    <p>Total records processed: <%= @total %></p>
    <p>New notifications added: <%= @new_notifications %></p>
    <p>New groups added: <%= @new_groups %></p>
  </body>
</html>
