<div class="control-group">
	<h3>Cell Phone Numbers of Recipients</h3>
	<% @recipient.each do |recipient| %>
	<p><%= recipient.phone %></p>
	<% end %>
	<%= link_to 'New recipient', new_organization_recipient_path(organization), :class => 'btn btn-primary' %>
</div>