<!-- start footer-->
<div class="footer">
	<div class="container">
   <div class="span12 pull-right">
		Maintained by PostCode <%= link_to image_tag("postcode_logo.png", alt: "PostCode.io"), "http://postcode.io" %> Get the code on: <%= link_to "github", "https://github.com/codeforamerica/promptly/" %>
    </div>   
	</div>
</div>
<!-- end footer-->