<div class="row landing-footer">
    <div class="large-1 columns drk">
      <h6><strong><a href="http://www.postcode.io/static/content/promptly.pdf" target="_title">About</a></strong></h6>
    </div>
    <div class="large-1 columns drk">
      <h6><strong><a href="https://promptlyio.zendesk.com/hc/en-us">Help</a></strong></h6>
    </div>
    <div class="large-1 columns drk">
      <h6><strong><a href="https://github.com/postcode/promptly" target="_title">Github</a></strong></h6>
    </div>
    <div class="large-2 columns drk">
      <h6><strong><a href="mailto:promptly@postcode.io">promptly@postcode.io</a></strong></h6>
    </div>
    <div class="large-3 columns wht right ">
      <div class="">
        <small>
        <a href="https://www.flickr.com/photos/pat_ossa/6051457263" target="_title">source:flickr.com,</a> <a class="citation" href="https://creativecommons.org/licenses/by/2.0/" target="_title">CC by 2.0</a>
        </small>
      </div>
    </div>
  </div>