<div class="navbar"> <!-- navbar -->
	<div class="navbar-inner">
		<div class="container">
			<%= link_to "Promptly", root_path, :class => 'brand offset2' %>
			<div class="login pull-right">
				<% if user_signed_in? %>
				  <p><%= link_to "Welcome, #{current_user.name}!", edit_user_registration_path %> | <%= link_to "Sign out", destroy_user_session_path, method: :delete %></p>
				<% else %>
				  <p><%= link_to "Sign in", new_user_session_path %>
				<% end %>
			</div>
		</div>
	</div>
</div> <!-- /navbar -->
