<ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
	<li role="presentation"><%= link_to "Messages", organization_messages_path(@organization) %></li>
    <li role="presentation"><%= link_to "New Messages", new_organization_message_path(@organization) %></li>
</ul>