<div class="reports">
	<%= f.label :report_type, "Type of report", :class => 'control-label' %>
	<div class="controls">
	  <%= f.text_field :report_type, :placeholder => "QR-7, etc." %>
	</div>
</div>