<div class="container">
  <div class="row-fluid">
    <p id="notice"><%= notice %></p>

    <p>
      <b>Phone:</b>
      <%= number_to_phone(@recipient.phone, :area_code => true) %>
    </p>


    <div class="span7">
      <div class="span12 mainHeaderAqua">
        <span class="aquaHighlight">Recipient History</span>
      </div>
      <%= render(:partial => 'show_conversation', :collection => @recipient.conversations, :as => :conversation) || 'No messages.' %>
    </div>

    <div class="span4">
      <div class="span12 mainHeaderAqua">
        <span class="aquaHighlight">Queued Reminders</span>
      </div>
      <%= render(:partial => 'reminders', :collection => @recipient.reminders, :as => :reminder) || 'No queued reminders.' %>
    </div>

  </div>
</div>