<div class="row-fluid">
  <div class="span12">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Number of recipients</th>
          <th>Send date</th>
          <th>Reminder</th>
        </tr>
      </thead>
      <tbody>
        <% @groups.each do |batch, delivery| %>
        <tr>
          <td><%= link_to delivery.count, delivery_path(batch) %></td>
          <td><%= delivery.first.send_date.to_s(:date_format) %></td>
          <td><%= delivery.first.reminder.message_text || delivery.first.reminder.name %></td>
          <td></td>
        </tr>
        <% end %>
      </tbody>
    </table>




  <%= link_to 'Create delivery', new_delivery_path, :class => 'btn btn-primary' %>
  </div>
</div>

<script>
  $('.dropdown-toggle').dropdown()
</script>
