<div class="control-group">
	<h3>Cell Phone Numbers of Recipients</h3>
	<% @recipient.each do |recipient| %>
	<p><%= number_to_phone(recipient.phone, :area_code => true) %></p>
	<% end %>
	<%= link_to 'New recipeient', new_recipient_path, :class => 'btn btn-primary' %>
</div>