<div id="ataglance">
	
	<!-- upload button -->
	<div class="btn btn-large btn-primary" type="button">
		Upload Recipients
	</div>
	<!-- /button -->

	<!-- at a glance info -->
	<h4>At a Glance</h4>
	<table class="table table-bordered table-stiped table-condensed">
		<thead>
			<tr>
				<th>Stats</th>
				<th>&nbsp;</th>
			</tr>
		</thead>
		<tr>
			<td>Sent to date</td>
			<td>#</td>
		</tr>
		<tr>
			<td>Recipients</td>
			<td>#</td>
		</tr>
		<tr>
			<td>Not delivered</td>
			<td>#</td>
		</tr>
		<tr>
			<td>Responses</td>
			<td>#</td>
		</tr>
	</table>
</div>