<div id="ataglance span12">
	<!-- at a glance info -->
	<div class="span12 sidebarHeader">
      <span class=" span4 headerGray">
          <i class="icon-th icon-white offset1"></i>&nbsp;At a glance
      </span>
  </div>
	<table class="table table-condensed span11">
		<thead>
			<tr>
				<th>Stats</th>
				<th>&nbsp;</th>
			</tr>
		</thead>
		<tr>
			<td>Sent to date</td>
			<td><%= countAggregate(Notification.all.count, Conversation.all.count) %></td>
		</tr>
		<tr>
			<td>Recipients</td>
			<td><%= Recipient.all.count %></td>
		</tr>
		<tr>
			<td>Not delivered</td>
			<td>#</td>
		</tr>
		<tr>
			<td>Responses</td>
			<td><%= Conversation.where(:to_number => '14154198992').count %></td>
		</tr>
	</table>
</div>