<div class="recentReminder">
	<table class="table tableGreen">
		<thead>
			<tr>
				<th>Number of recipients</th>
				<th>Send date</th>
				<th>Reminder message</th>
			</tr>
		</thead>
		<% deliveries.each do |batch, delivery| %>
        <tr>
          <td><%= link_to delivery.count, delivery_path(batch) %></td>
          <td><%= delivery.first.send_date.to_s(:date_format) %></td>
          <td><%= delivery.first.reminder.message_text || delivery.first.reminder.name %></td>
          <td></td>
        </tr>
        <% end %>
	</table>
</div>
