<div class="recentMessage">
	<table class="table tableAqua">
		<thead>
			<tr>
				<th>Message</th>
			</tr>
		</thead>
		<tr>
			<td><p><%= recents.message_text %></p></td>
			<td><%= recents.date.to_s(:date_format) %></td>
		</tr>
	</table>
</div>
