<div>
	<table class="table tableGreen">
		<thead>
			<tr>
				<th>Message Type</th>
			</tr>
		</thead>
		<tr>
			<td><p><%= recents.message %></p></td>
			<td><%= recents.date.to_s(:date_format) %></td>
			<td><i class="icon-pencil"></i></td>
		</tr>
	</table>
</div>
