<div class="recentReminder">
	<table class="table tableGreen">
		<thead>
			<tr>
				<th>Reminder</th>
			</tr>
		</thead>
		<tr>
			<td><p><%= recents.message %></p></td>
			<td><%= recents.date.to_s(:date_format) %></td>
		</tr>
	</table>
</div>
