<div class="sidebar">
  <div class="span12 sidebarHeader">
    <div class="headerGray">
    <i class="icon-upload icon-white offset1"></i>&nbsp;Upload
    </div>
    <div class="headerGray">
    <i class="icon-upload icon-white offset1"></i>&nbsp;Upload
    </div>
    <div class="headerGray">
    <i class="icon-upload icon-white offset1"></i>&nbsp;Upload
    </div>
    <div class="headerGray">
    <i class="icon-upload icon-white offset1"></i>&nbsp;Upload
    </div>
  </div>
</div>
