<div class="recentReminder">
	<%= content_tag :div, "",class: "chart", id: "upcoming_chart", data: {upcoming: chart_data(Date.today, Date.today+2.weeks, "send_date", Reminder)} %>
	<table class="table tableGreen">
		<thead>
			<tr>
				<th>Number of recipients</th>
				<th>Send date</th>
				<th>Reminder text message</th>
			</tr>
		</thead>
		<% upcoming_reminders.each do |batch, reminder| %>
        <tr>
          <td><%= link_to reminder.count, reminder_path(batch) %></td>
          <td><%= reminder.first.send_date.to_s(:date_format) %></td>
          <td><%= reminder.first.message.message_text || reminder.first.message.name %></td>
          <td></td>
        </tr>
        <% end %>
	</table>
</div>
