<h1>Landshark</h1>

<div id="add-user">
	<form>
		<label>Cell phone number:</label>
		<input type="text" name="cellphone">
		<input type="submit" value="Submit" name="adduser">
	</form>
</div>

<div id="pending">
	<div id="pending-header">Pending messages</div>
	<div id="pending-message"></div>
	<div id="pending-recipients"></div>
</div>

<div id="recent">
	<div id="recent-header">Recent messages</div>
	<div id="recent-message"></div>
	<div id="recent-recipients"></div>
</div>