    <div class="container"> <!-- main container -->
        <div class="well">
        	<h2>Landshark</h2>
            <p>Welcome to the HSA text messaging system</p>
            <%= link_to 'Add new user', new_recipient_path, :class => 'btn btn-primary' %>
            <%= link_to 'View reminders', reminders_path, :class => 'btn btn-primary' %>
    	</div>
        <div class="row-fluid">
            <div class="span3">
            <%= render(:partial => 'ataglance') %>
            </div>
            <div class="span9">
             <%= render(:partial => 'reminders', :collection => @recents, :as => :recents) || 'There are no recent reminders' %>

            </div>
        </div>

</div>
