<div class="container"> <!-- main container -->
  <div class="row-fluid">
    <div class="span4">
      <%= render 'sidebar' %>
    </div>
    <div class="span8">
      <div class="span12 mainHeaderGreen">
        <span class="greenHighlight">Sent reminders</span>
      </div>
      <div class="span12 conversation">
      <%= render(:partial => 'reminders', :collection => @recents, :as => :recents) || 'There are no recent reminders' %>
      </div>
    </div>
  </div>
</div>
