<!-- <%= render 'recipient-form' %> -->

<div class="row-fluid">
    <div class="span6">
        <%= render 'upcoming' %>
    </div>
    <div class="span6">
        <%= render 'recent' %>
    </div>
</div>