<div id="contact" class="section">
  <div class="container">
    <div class="row">
      <div class="span12">
        <h1>Interested? Contact us! <a href="mailto:promptly@postcode.io">promptly@postcode.io</a></h1>
      </div>
    </div>
  </div>
</div>
