<div id="story" class="section">
  <div class="container">
    <div class="row">
      <div class="span5">
        <h1>The Story of Promptly</h1>
        <p>Promptly started out of a joint effort by the <%= link_to "City and County of San Francisco Human Services Agency", "http://sfhsa.org/" %> and 2013 <%= link_to "Code for America", "http://codeforamerica.org" %> Fellows. Clients and employees asked for a text messaging service to remind and alert them of important information. The language of government correspondence is often legally mandated, resulting in long and confusing mailed notices and reminders to clients, so Promptly aims to improve client experience through clear and timely text messages.</p>
        <p>See more of our work with HSA <%= link_to "here", controller: "pages", action: "hsa" %>.</p>
      </div>
      <div class="span4">
        <%= image_tag "texts.png", size: "200X200" %>
      </div>
    </div>
  </div>
</div>
