<div class="splash-hero">
  <div class="container">
  	<h1>What is Promptly?</h1>
		<p>Promptly is a text messaging notification system. It was created because the language of government correspondence is often legally mandated, resulting in long and confusing mailed notices and reminders to clients. Promptly aims to improve client experience through clear and timely text messages.</p>
  	<%= image_tag "phone.png", :class => "phone" %>
  </div>
</div>