<div id="what" class="section">
  <div class="container">
  <h1>Promptly</h1>
    <p>Promptly is a text messaging notification system. Promptly is designed with its users in mind: it is easy to use, convenient, and flexible. It also sends text messages automatically - just load a list of recipients and Promptly will send the text at the right time.</p>
    <div class="row">
      <div class="span3">
        <%= image_tag "content_icon_2.gif", class: "big-icons" %><br />
      <p class="caption">Craft a message in 160 characters.</p>
      </div>
      <div class="span3">
        <%= image_tag "upload_icon.gif", class: "big-icons" %><br />
      <p class="caption">List recipients. You only need a phone number and a date to send the reminder.</p>
      </div>
      <div class="span3">
        <%= image_tag "send_to_phone_icon.gif", class: "big-icons" %><br />
      <p class="caption">You're all set. Send!</p>
      </div>
    </div>
  </div>
</div>