<div class="text-container">
  <h1>About</h1>

  <p>Promptly text messages clients with important information to keep them enrolled in services.</p>
    
  <p>Promptly is designed with its users in mind: it is easy to use, convenient, and flexible. It also sends text messages automatically - just load a list of recipients and Promptly will send the text at the right time.<br>
    • HSA clients and employees alike requested text messaging.<br>
    • Text messaging is character-limited, requiring concise language.<br>
    • Promptly fits the wider HSA effort to expand electronic communication.<br>
  </p>

  <h1>How it works</h1>
  <ol>
    <li><b>Opt-in agreement.</b> Text messaging is not confidential, so Promptly is an opt-in service. Before clients can begin receiving text messages, they must sign the <%= link_to "agreement form", controller: "pages", action: "agreement" %>.</li>
    <br><li><b>CalWin special indicator.</b> Once a client agrees to receive text messages, a worker must add the <b>Text messages OK</b> case special indicator. This triggers the start of automatic text messaging.</li>
    <br><li><b>Monitoring.</b> As a best practice, HSA staff should monitor <%= link_to "Promptly", '/' %> for incoming messages, to make sure clients don't need help.</li>
    <br><li><b>Opt-out.</b> Clients can stop receiving text messages at any time by replying STOP to any message. Alternatively, HSA staff can stop messages on a client's behalf by removing the Text messages OK special indicator in CalWin.</li>
  </ol>

  <h1>Questions? <span class="muted">See the <%= link_to "FAQ", controller: "pages", action: "faq"%> or <a href="mailto://sf@codeforamerica.org">email us</a>.</span></h1>

  <hr> 
</div>