<% render "shared/splash/splash_mainnav" %>

<div id="about">
  <div class="container">
  <h1>Agreement</h1>
    <div id="agreement" class="section">
        <h3>Agreement to Receive Optional Email & Text Messaging Service</h3>

        <p>The Human Services Agency (HSA) is the city agency in charge of public assistance programs as well as child and adult protective services. HSA is offering a reminder service for several programs by email and/or by text message to your cell phone. These services are optional. You will continue to get notices by mail whether or not you choose to receive emails or text messages. </p>

        <p>Because HSA is serious about its responsibility to keep client information private, we will not send you email or text messages without your consent. Email and text messaging are not confidential; anyone who uses your cell phone or who has access to it might see the text messages.  Communication service providers used by you or HSA may also be able to see these messages.  In addition, text message charges may apply, depending on your text message plan.  Therefore, HSA will not send you email or cell phone messages without your permission.</p>

        <p>By signing below, you give HSA permission to send you email or cell phone messages about reminders for appointments, renewals, and other information.  You can stop this any time by texting STOP to any message or by calling [PROGRAM PHONE NUMBER]. If you stop these services you will still be sent mailed notices.</p>

        <p>If your cell phone number changes or your phone is lost, please call us at [PROGRAM PHONE NUMBER].</p>

        <p>I understand that this service is optional and that I can stop participating at any time.</p>

        <hr> 

        <form>
          <fieldset>
            <label class="checkbox">
              <input type="checkbox"> I would like to receive <b>email</b> from HSA.
            </label>
            <label class="checkbox">
              <input type="checkbox"> I would like to receive <b>text messages</b> from HSA.
            </label>
            <input type="text" placeholder="Name"><br>
            <input type="text" placeholder="Signature & date"><br>
            <input type="text" placeholder="Cell phone number"><br>
            <input type="text" placeholder="Email address">
          </fieldset>
        </form>
    </div>
  </div>
</div>