<%= image_tag "phone.jpg", :class => "phone" %>
<div class="text-container">
  <h1>FAQ</h1>

  <b>Does Promptly cost clients money?</b>
  <p>Sometimes. While Promptly is a free HSA service, it may cost clients a few cents to receive each text message, depending on their service plan.</p>

  <br><b>Does Promptly replace mailed NOAs?</b>
  <p>No. Clients will receive all regular mailed NOAs whether or not they choose to receive text messages.</p>

  <br><b>How can clients unsubscribe?</b>
  <p>Clients can unsubscribe by replying STOP to any text message. Alternatively, you can unsubscribe a client on their behalf by removing the 'Text messages OK' special indicator in CalWin.</p>

  <br><b>What about privacy? Are text messages confidential?</b>
  <p>No. Text messages are not confidential. That's why we won't send any messages to clients without their explicit permission. Clients must sign the <%= link_to "agreement form", controller: "pages", action: "agreement" %> to begin the service.</p>

  <br><b>What phone number will text messages come from?</b>
  <p>HSA clients will only receive text messages from (415) 944-4301.</p>

  <br><b>Where should I enter the client's cell phone number in CalWin?</b>
  <p>In the Messages field on the Case Summary Details window. The Demographics window will <b>not</b> work. See <%= link_to "here for more deatiled instructions", controller: "pages", action: "about" %></p>

  <br><b>Do I have to run EBDC?</b>
  <p>No. Just enter the client's cell phone number in the Case Summary Details window, enable the 'Text messages OK' special indicator, and click <b>save</b>.</p>

  <br><b>What if a client's phone is disconnected?</b>
  <p>The client will stop receiving text messages. If a cell phone is disconnected, just remove the number from the Messages field on the Case Summary Details window and we won't send anymore messages.</p>

  <br><b>When do I provide the client with the <%= link_to "agreement form", controller: "pages", action: "agreement" %>?</b>
  <p>For now, just during face-to-face intake and RRRs. Not over the phone.</p>


  <br><b>Should I collect information even if the case isn’t immediately approved?</b>
  <p>Yes, please collect this info at intake whether or not the case is immediately approved.</p>

  <br><b>Do clients need to provide both text and email consent?</b>
  <p>No. Clients can choose to receive either, both, or neither. They should also be informed that HSA is only sending text messages at this time.</p>

  <br><b>Who, exactly, will get text messages?</b>
  <p>For now, we will be text messaging clients who are about to be discontinued from aid. We plan to send emails and other types of reminders in the future.</p>

  <br><b>What languages are available?</b>
  <p>English and Spanish right now but we're working hard to add Chinese, Vietnamese, Tagalog, and Russian. Please collect cell phone numbers from all clients, regardless of their primary language.</p>

  <br><b>What if clients refuse to participate?</b>
  <p>No problem! This is an optional service. Please don't pressure them.</p>


  <!-- <br><b>Exactly what messages will clients receive?</b>
  <p>...</p> -->

  <br><b>I still have questions...</b>
  <p>Get in touch! <a href="mailto://sf@codeforamerica.org">sf@codeforamerica.org</a></p>
</div>