<%= image_tag "phone.jpg", :class => "phone" %>
<div class="text-container">
  <h1>FAQ</h1>

  <b>Does Promptly cost clients money?</b>
  <p>Sometimes. While Promptly is a free HSA service, it may cost clients a few cents to receive each text message, depending on their service plan.</p>

  <br><b>Does Promptly replace mailed NOAs?</b>
  <p>No. Clients will receive all regular mailed NOAs whether or not they choose to receive text messages.</p>

  <br><b>How can clients unsubscribe?</b>
  <p>Clients can unsubscribe by replying STOP to any text message. Alternatively, you can unsubscribe a client on their behalf by removing the 'Text messages OK' special indicator in CalWin.</p>

  <br><b>What about privacy? Are text messages confidential??</b>
  <p>No. Text messages are not confidential. That's why we won't send any messages to clients without their explicit permission. Clients must sign the <%= link_to "agreement form", controller: "pages", action: "agreement" %>to begin the service.</p>

  <br><b>Exactly what messages will clients receive?</b>
  <p>...</p>

  <br><b>I still have questions...</b>
  <p>Get in touch! <a href="mailto://sf@codeforamerica.org">sf@codeforamerica.org</a></p>
</div>