<% render "shared/splash/splash_mainnav" %>

<div id="about">
  <div class="container">
    <h1>Code For America and Human Services Agency</h1>
    <p>Promptly started out of a joint effort by the <%= link_to "City and County of San Francisco Human Services Agency", "http://sfhsa.org/" %> and 2013 <%= link_to "Code for America", "http://codeforamerica.org" %> Fellows. Clients and employees asked for a text messaging service to remind and alert them of important information. The language of government correspondence is often legally mandated, resulting in long and confusing mailed notices and reminders to clients, so Promptly aims to improve client experience through clear and timely text messages.</p>
  </div>

</div>