<%= render 'splash_hero' %>

<div class="splash-subnav">
  <div class="container">
    <ul class="nav">
    <li>About</li>
    <li>Team</li>
    <li>Use Promptly</li>
    </ul>
  </div>
</div>

<div id="about">
  <div class="container span12">
    <div class="row">
      <h1>About</h1>
    </div>
    <div class="row">
      <div class="span12">
        <h1>How it works</h1>
        <div class="row">
          <div class="span3">
            Craft a message in 160 characters.
          </div>
          <div class="span3">
            Upload a spreadsheet or CSV file with two columns: names and numbers. 
          </div>
          <div class="span3">
            Choose a date and time to send the message.
          </div>
          <div class="span3">
            Push send!
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div id="questions">
  <h1>Questions? <span class="muted">See the <%= link_to "FAQ", controller: "pages", action: "faq"%> or <a href="mailto://sf@codeforamerica.org">email us</a>.</span>
  </h1>
</div>