<%= render 'splash_hero' %>

<div class="splash-subnav">
  <div class="container">
    <ul class="nav">
    <li>About</li>
    <li>Team</li>
    <li>Use Promptly</li>
    </ul>
  </div>
</div>

<div id="about">
  <div class="container span12">
    <div class="row">
      <h1>About</h1>
    </div>
    <div class="row">
      <div class="span3">
        <p>Promptly texts people.</p>
          
        <p>Promptly is easy to use, convenient, and flexible. It text messages automatically - just load a list of clients and Promptly will send the right message at the right time.</p>
    </div>

    <div class="span3">
        <p>Promptly texts people.</p>
          
        <p>Promptly is easy to use, convenient, and flexible. It text messages automatically - just load a list of clients and Promptly will send the right message at the right time.</p>
    </div>

    <div class="span3">        
        <p>Promptly texts people.</p>
          
        <p>Promptly is easy to use, convenient, and flexible. It text messages automatically - just load a list of clients and Promptly will send the right message at the right time.</p>
    </div>
  </div>
</div>


<div id="questions">
  <h1>Questions? <span class="muted">See the <%= link_to "FAQ", controller: "pages", action: "faq"%> or <a href="mailto://sf@codeforamerica.org">email us</a>.</span>
  </h1>
</div>