<div class="headerSmall headerAqua">
  <span class="headerText">Recipients</span>
</div>
<div class="row">
  <div class="small-12 columns">
    <table class="table table-hover datatable small-12" id="add-groups">
      <thead>
        <tr>
          <th></th>
          <th>Group Name</th>
          <th>Recipients</th>
        </tr>
      </thead>
      <tbody>
        <% Group.accessible_by(current_ability).organization(params[:organization_id]).all.each do |group| %>
        <tr>
          <td><%= check_box_tag "group_ids[]", group.id, false, :class => 'table-row-checkbox' %></td>
          <td><%= link_to group.name, admin_organization_group_path(@organization,group) %></td>
          <td><%= link_to group.recipients.count, admin_organization_group_path(@organization,group) %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <p>Need to add a new group?
    <a href="#" id="new_group_button" class="button secondary small" data-reveal-id="individual-recipients">Add new group</a></p>
  </div>
</div>
