<div class="headerSmall headerAqua">
  <span class="headerText">Recipients</span>
</div>
<div class="row-fluid">
  <div class="span12">
    <table class="table table-hover datatable" id="add-groups">
      <thead>
        <tr>
          <th></th>
          <th>Group Name</th>
          <th>Recipients</th>
        </tr>
      </thead>
      <tbody>
        <% Group.all.each do |group| %>
        <tr>
          <td><%= check_box_tag "group_ids[]", group.id, false, :class => 'table-row-checkbox' %></td>
          <td><%= link_to group.name, admin_group_path(group) %></td>
          <td><%= link_to group.recipients.count, admin_group_path(group) %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <p>Need to add a new group?
    <a class="btn" data-toggle="modal" data-target="#individual-recipients" href="#individual-recipients">Add New Group</a></p>
  </div>
</div>
