<% if Conversation.organization(@organization.id).all_sent != [] %>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Reminder message</th>
      <th>Sent date</th>
      <th>Group name</th>
      <th>Number of recipients</th>
    </tr>
  </thead>
  <tbody>
    <% @sent.each do |reminder|  %>
    <% binding.pry %>
    <tr>
      <td><%= reminder[1].first.message %></td>
      <td><%= reminder[1].first.date.to_s(:date_format) %></td>
      <td><%= reminder[0] %></td>
      <td><%= reminder[1].count %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<% end %>
