<% if @sent != [] %>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Reminder message</th>
      <th>Sent date</th>
      <th>Number of recipients</th>
    </tr>
  </thead>
  <tbody>
    <% @sent.each do |batch, reminder|  %>
    <tr>
      <td><%= reminder.first.message %></td>
      <td><%= reminder.first.date.to_s(:date_format) %></td>
      <td><%= reminder.count %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<% end %>
