<div class="row">
  <div class="large-9 large-offset-3 column">
    <div><%= link_to 'CREATE NOTIFICATION', new_admin_organization_reminder_path(@organization.id), :class => 'button cta-button' %></div>
  </div>
  <div class="large-12 column">
    <ul class="tabs vertical" data-tab>
      <li class="tab-title active"><a href="#panel1a">Upcoming Notifications</a></li>
      <li class="tab-title"><a href="#panel2a">Past Notifications</a></li>
    </ul>
    <div class="tabs-content vertical">
      <div class="content active" id="panel1a" style="background: #FFF; padding: 10px;">
          <% if @groups != [] %>
            <%= render('upcoming', :collection => @groups) %>
          <% else %>
            <%= 'There are no upcoming reminders.' %>
          <% end %>
      </div>
      <div class="content" id="panel2a">
          <%= render('sent', :collection => @sent) || 'There are no sent reminders.' %>
        
        <!-- table scheme for notifications
        
        <table>
          <thead>
            <tr>
              <th>Date/Time</th>
              <th>Notification Name</th>
              <th>Message</th>
              <th>Group</th>
              <th># Recipients</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>June 12, 2014 1:20pm</td>
              <td>July 12 Appt. Reminder</td>
              <td>CalWORKs: You have an appointment tomorrow in our office. Questions? Call your worker. (Reply STOP to cancel messages)</td>
              <td>Auto Generated Appt. List</td>
              <td>89</td>
            </tr>
            <tr>
              <td>June 12, 2014 1:20pm</td>
              <td>July 12 Appt. Reminder</td>
              <td>CalWORKs: You have an appointment tomorrow in our office. Questions? Call your worker. (Reply STOP to cancel messages)</td>
              <td>Auto Generated Appt. List</td>
              <td>89</td>
            </tr>
          </tbody>
        </table>
      -->
      </div>
    </div>
  </div>
</div>

<script>
  $('.dropdown-toggle').dropdown()
</script>
