<div class="heading">
  <h1>Your organizations</h1>
</div>
<ul class="list-unstyled">
<% if current_user.is_super? %>
  <% Organization.order('name ASC').all.each do |organization| %>
      <li><%= link_to organization.name, [:admin, organization] %>&nbsp;<%= link_to "Edit", [:edit, :admin, organization], class: "button secondary" %></li>
  <% end %>
<% else %>
  <% current_user.organizations.each do |organization| %>
      <li><%= link_to organization.name, [:admin, organization] %></li>
  <% end %>
<% end %>
</ul>

<% if current_user.is_super? %>
  <%= link_to 'Create organization', new_admin_organization_path, :class => 'button' %>
<% end %>