<ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
	<li role="presentation"><%= link_to "Reminders", organization_reminders_path(@organization) %></li>
    <li role="presentation"><%= link_to "New Reminder", new_organization_reminder_path(@organization) %></li>
</ul>