<!-- start footer-->
<div class="footer">
	<div class="container-fluid">
		<%= image_tag "cfa_logo_black.png", alt: "Code for America logo" %>
		&nbsp;&nbsp;&nbsp;
		<%= image_tag "cities_sf_seal.png", alt: "San Francisco seal" %>
		&nbsp;&nbsp;&nbsp;
		Built by Code for America + San Francisco. See our <%= link_to "Github project", "https://github.com/codeforamerica/promptly/" %>!

	</div>
</div>
<!-- end footer-->