<div class="row-fluid">
  <div class="span12">
		<div class="headerBig headerGray">Editing group
	</div>
</div>
	<%= render 'edit_form' %>
	<%= link_to 'Show', [:admin, @group] %> |
	<%= link_to 'Back', admin_groups_path %>
</div>
