<div class="row">
  	<div class="small-12 twelve columns">
		<h3>Edit Group</h3>
	</div>
  	<div class="small-8 eight end columns">
		<%= render 'edit_form' %>
		<%= link_to 'Cancel', admin_organization_groups_path(@organization.id) %>
	</div>
</div>
