// Re-doing the Bootstrap color scheme
$white: #fff;
$lightGray: #f5f5f5;
$blue: #2E88CC;
$darkBlue: #116FA8;
$aqua: #A7DBD8;
$tan: #E0E4CC; 
$orange: #F38630;
$red: #FA6900;
$lightGreen: #68B6BC;
$green: #4CA55D;