// Re-doing the Bootstrap color scheme
$white: #fff;
$lightGray: #f5f5f5;
$darkGray: darken($lightGray, 20);
$blue: #2E88CC;
$darkBlue: #116FA8;
$lightBlue: #81C7EA;
$aqua: #A7DBD8;
$darkerAqua: #68B6BC;
$tan: #E0E4CC; 
$orange: #F38630;
$red: #FA6900;
$lightGreen: #A2EAAC;
$green: #4CA55D;
$testHighlight: pink;

$borderColor: darkent($lightGray, 10);

//Fonts
$headerFont: 'Open Sans Condensed', sans-serif;
$bodyFont: 'Open Sans', sans-serif;

@font-face {
  font-family: 'typicons';
  src: url("typicons/typicons.eot");
  src: url("typicons/typicons.eot?#iefix") format('embedded-opentype'),
       url("typicons/typicons.woff") format('woff'),
       url("typicons/typicons.ttf") format('truetype'),
       url("typicons/typicons.svg#typicons") format('svg');
  font-weight: normal;
  font-style: normal;
}

$base-font-size: 14px;

$linkColor: $blue;
$placeholderText: darken($lightGray, 5%);


$btnPrimaryBackground: $darkBlue;
$btnPrimaryBackgroundHighlight: $darkBlue;

//Sizes
$navbarHeight: 40px;
$baseLineHeight: 20px;
$loginHeight: 20px;

$splashHeader: 70px;
$splashHeroP: 35px;