//Fonts
$headerFont: 'Open Sans Condensed', sans-serif;
$bodyFont: 'Open Sans', sans-serif;

$linkColor: $blue;
$placeholderText: darken($lightGray, 5%);


$btnPrimaryBackground: $darkBlue;
$btnPrimaryBackgroundHighlight: $darkBlue;

//Sizes
$navbarHeight: 40px;
$baseLineHeight: 20px;
$loginHeight: 20px;