@mixin headerConstants {
	font-family: $headerFont;
	text-transform: uppercase;
}

.headerBig {
	@include headerConstants;
	font-size: 20px;
	padding: 6px 6px;
	margin-bottom: 4px;

	> .headerText {
		padding: 4px 15px;
	}
}

.headerBorder {
	border-width: 10px 0px 0px;
	border-color: $lightGray;
	border-style: solid;
	padding: 20px 0px;
}

.headerDate {
	background: #000;
	color: $white;
	font-weight: bold;
	font-size: 120%;
}

.headerSmall {
	@include headerConstants;
	font-size: 13pt;
	padding: 5px 6px;
	margin-bottom: 2px;

	> .headerText {
		padding: 1px 15px;
		margin: 10px;
	}
}

.grayHighlight {
	background: $lightGray;
	color: darken($lightGray, 40);
	position: relative;
}

.aquaHighlight {
	background: $aqua;
	color: darken($aqua, 40);
	position: relative;
}


.headerGray {
	background: $darkGray;
	border-bottom: 1px solid $lightGray;

	.headerText {
		color: lighten($lightGray, 20);
	}
}

.headerRed {
	background-color: $red;
	color: $white;
}

.headerGreen {
	background: $green;
	color: $white;
}

.headerAqua {
	background-color: $darkerAqua;
	color: $white;
}

.headerGray {
	background: darken($lightGray, 20);
	color: $lightGray;
}