@import "constants";

$navbarBackground: $blue;
$navbarBackgroundHighlight: $darkBlue;
$navbarBrandColor: $white;
$navbarText: $white;
$navbarBrandColor: $white;
$navbarLinkColor: darken($white, 5%);
$navbarLinkColorHover: $white;
$navbarLinkColorActive: $white;
$navbarLinkBackgroundHover: $navbarBackground;
$navbarLinkBackgroundActive: $darkBlue;
	
.navbar-inner {
  background-color: $navbarBackground;
	border-radius: 0px;
	background-image: none;
	filter: none;
	min-height: 40px;
	padding-left: 20px;
	padding-right: 20px;
	@include box-shadow(0 1px 10px rgba(0,0,0,0.1));
	.brand {
		text-shadow: none;
		font-weight: 500;
		font-size: 32px;
		position: relative;
		margin-top: -5px;
	}
	.white-caret {
		color: $white;
		border-top-color: $white;
		border-bottom-color: $white;
	}
}

.navbar{
	margin-bottom: $navbarHeight;
	.brand {
		float: left;
		display: block;
		// padding: 10px;
		// margin-left: 10px;
		// font-size: 26px;
		font-weight: 200;
		color: #fff;
		text-shadow: 0 1px 0 $navbarBackgroundHighlight;
		}
		.nav {
			position: relative;
			left: 0;
			display: block;
			float: left;
			margin: 0 10px 0 0;
			li {
				float: left;
			}
		}
	.nav>li>a {
		float: none;
		padding: 10px 15px 10px;
		color: #f2f2f2;
		text-decoration: none;
		text-shadow: 0 1px 0 $navbarBackgroundHighlight;
		&:hover{
			color: #fff;
			text-decoration: none;
			background-color: $lightBlue;
			box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
		}
	}
	.nav>.active>a{
		color: #fff;
		text-decoration: none;
		background-color: $navbarBackgroundHighlight;
		&:hover{
			color: #fff;
			text-decoration: none;
			background-color: $lightBlue;
			box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
		}
	}
	.nav>.dropdown.open>a {
		color: #fff;
		text-decoration: none;
		background-color: $lightBlue;
		box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
	}
}

.dropdown-menu>li {
	float: none !important;
	a {
		display: block;
		padding: 3px 20px;
		clear: both;
		font-weight: normal;
		line-height: 20px;
		color: #333;
		white-space: nowrap;
		&:hover{
			background: $blue;
			color: $white;
		}
	}
} 

.promptly-sub-nav {
	background: $lightGray;
  @include sub-nav(
    // Control the color of the divider between links.
    // Control your font-size per label.
    $font-size: rem-calc(18),
    // Change the background color for your labels
    $active-bg: white,
    $font-color: $blue
  );
}