@import "colors";

//Fonts
$headerFont: 'Open Sans Condensed', sans-serif;
$bodyFont: 'Open Sans', sans-serif;

$linkColor: $blue;
$placeholderText: $tan;

$navbarBackground: $blue;
$navbarBackgroundHighlight: $darkBlue;
$navbarBrandColor: $white;
$navbarText: $white;
$navbarBrandColor: $white;
$navbarLinkColor: darken($white, 5%);
$navbarLinkColorHover: $white;
$navbarLinkColorActive: $white;
$navbarLinkBackgroundHover: $navbarBackground;
$navbarLinkBackgroundActive: $darkBlue;

$btnPrimaryBackground: $darkBlue;
$btnPrimaryBackgroundHighlight: $darkBlue;

//Sizes
$navbarHeight: 40px;
$baseLineHeight: 20px;
$loginHeight: 20px;

h1,h2,h3,h4,h5,h6 {
	font-family: $headerFont !important;
}
body {
	font-family: $bodyFont !important;
}

.navbar-inner {
	background-color: $navbarBackground;
	border-radius: 0px !important;
	background-image: none !important;
	.brand {
		text-shadow: none;
		font-weight: 500;
		font-size: 32px;
	}
}

.login {
	padding: (($navbarHeight - $baseLineHeight) / 2) 15px (($navbarHeight - $baseLineHeight) / 2);
	height: $loginHeight;

	a {
		color: darken(#FFF, 5%);
		padding: 0 0 0 0;
	}
}

.username {
	display: block;
	float: right;
}

.footer {
	text-align: center;
	padding: 30px 0;
	margin-top: 70px;
	border-top: 1px solid #e5e5e5;
	background-color: #f5f5f5;
}

.dumbPadding {
	padding: 10px 0px;
}

.greenHighlight {
	background: $green;
	color: $white;
	padding: 3px 15px;
	text-transform: uppercase;
	position: relative;
	top: 2px;
	font-size: 13px;
	font-family: $headerFont;
}

.aquaHighlight {
	background: $darkerAqua;
	color: $white;
	padding: 3px 15px;
	text-transform: uppercase;
	position: relative;
	top: 2px;
	font-size: 13px;
	font-family: $headerFont;
}

.grayHighlight {
	background: $lightGray;
	color: darken($lightGray, 40);
	padding: 3px 15px;
	text-transform: uppercase;
	position: relative;
	font-size: 16px;
	font-family: $headerFont;
}


// This positioning is super hacky. *****************************************
.headerGray {
	background: darken($lightGray, 40);
	color: $white;
	padding: 2px 5px;
}

.mainHeaderGreen {
	background: $lightGreen;
	margin-bottom: 2px;
}

.mainHeaderAqua {
	background: $aqua;
	margin-bottom: 2px;
}

.mainHeaderGray {
	background: darken($lightGray, 20);
	padding: 4px 0;
	margin-bottom: 10px;
}

.messageMain {
	display: none;
}
.row-fluid [class*="span"] {
	min-height: 25px !important;
}

.sidebar {
	background: $lightGray;
	text-transform: uppercase;
	font-family: $headerFont;
	font-size: 12px;
}

.sidebarHeader {
	background: darken($lightGray, 20);
	// padding: 5px;
	margin-bottom: 20px;
	min-height: 15px;
}

// Over-riding .span* styles so the positioning works out.
.conversation {
	padding: 0 0 0 0;
	margin: 0 0 0 0 !important;
}

.recentReminder {
	padding: 10px 0 10px 0;

	table {
		margin: 0 0 0 0;
	}
}

.tableGreen {
	border-left: 5px solid $green;
	margin-bottom: 0px;

	tbody {
		border-bottom: 1px solid darken($lightGray, 10);
	}
	td, th{
		border: none !important;
	}
}

.upload {
	padding-bottom: 20px;
	text-align: center;
	.btn {
		border-radius: 0px;
		background-image: none;
		border: none;
		text-transform: uppercase;
		font-family: $headerFont;
		padding: 5px;
		font-size: 15px;
		width: 160px;
		&:hover {
			background: lighten($blue, 10);
		}
	}
}

@import "bootstrap";
@import "bootstrap-responsive";
