.dumbPadding {
	padding: 10px 0px;
}

.navbar-inner {
	background: #3D6AA2;
	.brand {
		text-shadow: none;
		color: #d0d0d0;
		font-weight: 500;
		font-size: 32px;
	}
}

.footer {
	text-align: center;
	padding: 30px 0;
	margin-top: 70px;
	border-top: 1px solid #e5e5e5;
	background-color: #f5f5f5;
}

.messageMain {
	display: none;
}

