.login {
	padding: (($navbarHeight - $baseLineHeight) / 2) 15px (($navbarHeight - $baseLineHeight) / 2);

	a {
		color: darken(#FFF, 5%);
		padding: 0 0 0 0;
	}
}

.username {
	display: block;
	clear: all;
	float: right;

	margin: -10px 15px 30px 0;
	color: #F38630;
}

.dumbPadding {
	padding: 10px 0px;
}

.navbar-inner {
	height: $baseLineHeight;
	text-shadow: none;
	.brand {
		text-shadow: none;
		font-weight: 500;
		font-size: 32px;
	}
}

.footer {
	text-align: center;
	padding: 30px 0;
	margin-top: 70px;
	border-top: 1px solid #e5e5e5;
	background-color: #f5f5f5;
}

.messageMain {
	display: none;
}

