@import "bootstrap";
@import "bootstrap-responsive";
@import "constants";
@import "buttons";
@import "headers";
@import "placeholder";
@import "navbar";
@import "sidebar";
@import "content";
@import "forms";
@import "charts";
@import "data_tables";
@import "compass/utilities/general/hacks";

//bootstrap overrides
h1,h2,h3,h4,h5,h6 {
	font-family: $headerFont;
}

body {
    margin: 0;
	background-color: $lightGray;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-family: $bodyFont;
}

h1 { font-size: 32px; line-height: 32px; font-weight: 300; }
h2 { font-size: 16px; line-height: 16px; font-weight: 300; }
h3 { font-size: 15px; line-height: 15px; }
h4 { font-size: 14px; line-height: 14px; }
h5 { font-size: 13px; line-height: 13px; }
h6 { font-size: 12px; line-height: 12px; }

#content {
	background: $white;
	filter: none;
	min-height: 300px;
	padding: 20px 20px;
	margin-bottom: $navbarHeight;
	@include promptly-border-radius(0px 5px 5px 5px);
	border: 2px solid $borderColor;
	position: relative;
	
	&.full-radius {
		@include promptly-border-radius(5px);
		margin-right: -6px;
		margin-left: 0px;
	}
}

.footer {
	padding: 30px 0;
	margin-top: 0px;
	border-top: 1px solid #e5e5e5;
	background-color: $white;
}

.lbl {
	background-color: $lightGray;
	font-weight: bold;
}

.table th {
  font-weight: normal;
}

//Custom styles

.login {
	padding: (($navbarHeight - $baseLineHeight) / 2) 15px (($navbarHeight - $baseLineHeight) / 2);
	height: $loginHeight;

	a {
		color: #fff;
	}

	p {
		color: darken(#FFF, 5%);
		padding: 0 0 0 0;
	}
}

.username {
	display: block;
	float: right;
}

.dumbMargin {
	margin: 10px 0 0 0;
}

.messageMain {
	display: none;
}

.row-fluid [class*="span"] {
	min-height: 25px;
}
// Over-riding .span* styles so the positioning works out.

//responsive
@media (min-width: 1120px) {
  #content {
    padding: 20px;
    margin-left: -2px;
  }
  #sidebar-left {
    background: transparent;
    margin: -1px 0px 0px 25px;
    padding-top: 0px;
  }
  .sidebar-nav > ul {
    margin: 0px 0px 0px -20px;
  }
  footer {
    margin: 20px -20px 0px -20px;
    padding: 10px 20px;
    position: relative;
    z-index: 2;
  }
}

//responsive
@media (max-width: 1120px) {
  #content {
    padding: 20px;
    margin-left: -2px;
  }
  #sidebar-left {
    background: transparent;
    margin: -1px 0px 0px 0px;
    padding-top: 0px;
  }
}