// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#main {
  overflow: hidden;
}
.text-container {
  margin: 0 auto;
  max-width: 700px;
}

.phone {
  max-width: 400px;
  float: right;
  margin-right: -150px;
}