//Splash page colors
$blue: #116FA8;
$lightBlue: #2E88CC;
$gray: #8E9EA8;
$white: #FFFCFC;
$red: #D84848;

// Regular imports

@import "bootstrap";
@import "bootstrap-responsive";
@import "constants";

.navbar.transparent {
  background: rgb(255, 255, 255) transparent; //default fallback
  background: rgba(255, 255, 255, 0.4); //nice browsers
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCFFFFFF, endColorstr=#CCFFFFFF); //IE6-7
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCFFFFFF, endColorstr=#CCFFFFFF)"; //IE8
  margin-bottom: 0;
  min-height: $navbarHeight;
}

.navbar > .container,
.hero > .container,
.main > .container {
  max-width: 800px;
}

.wrapper {
  min-height: 100%;
  min-width: 100%;
}

/***********
  Hero Unit
 ************/

.splash-hero {

  background: url('images/greyzz.gif');

  h1 {}

  > p {}

  .phone {
    height: 300px;
  }

}

.subnav {
	background-color: white;
  border-top: 2px solid darken($lightGray, 10%);
  border-bottom: 2px solid darken($lightGray, 10%);
  
  > .container {
      padding: 10px 0;
  }
}

.main {
  > .container {
      padding-top: $baseLineHeight;
      margin: 0 auto;
  }
}