@import "bootstrap";
@import "bootstrap-responsive";
@import "colors";
@import "constants";


.navbar {
  background-color: white;
  margin-bottom: 0;
  min-height: $navbarHeight;

  a.navbar-brand {
    color: #000;
    background: transparent left 0 no-repeat;
    text-indent: -999999px;
    height: 70px;
    min-width: 300px;
    margin-top: 5px;
    @include background-size(contain);

    &:hover {
      color: #444;
    }
	}
}

.navbar > .container,
.hero > .container,
.main > .container {
  max-width: 800px;
}

.wrapper {
  min-height: 100%;
  min-width: 100%;
}

.subnav {
	background-color: white;
  border-top: 2px solid darken($lightGray, 10%);
  border-bottom: 2px solid darken($lightGray, 10%);
  
  > .container {
      padding: 10px 0;
  }
}

.main {
  > .container {
      padding-top: $baseLineHeight;
      margin: 0 auto;
  }
}