<h1>Import Review</h1>

<%= form_for @reminder_import do |f| %>
  <div class="span12">
    <% if @reminder_import.error.any? %>
      <%= render(:partial => 'import_errors', :object => @reminder_import, as: 'reminder', :f => f ) %>
      <% else %>
      <span>Yay! No errors here.</span>
    <% end %>
  </div>
  <div class="buttons"><%= f.submit "Import" %></div>
<% end %>