<div>
	<%= f.label :messagetext, "Reminder message text", :class => 'control-label' %>
	<div class="controls">
	  <%= f.text_area :messagetext, :rows=>5, :placeholder => "Your report will be sent on x date" %>
	</div>
</div>
