<div class="navbar">
  <div class="navbar-inner subnav navbar">
  	<%= link_to 'Text messages', recipients_path, :class => 'brand' %>
  	<ul class="nav navbar-inverse">
    </ul>
  </div>
</div><!-- end nav-bar-->