 <!-- start navbar -->
<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<a class="brand" href="#">Landshark</a>
			<ul class="nav">
				<li class="<%= 'active' if params[:controller] == 'home' %>"><a href="/">Home</a><li>
				<li class="<%= 'active' if params[:controller] == 'recipients' %>"><%= link_to 'Recipients', recipients_path %></li>
			</ul>
		</div>
	</div>
</div>
<!-- end navbar -->