<ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
	<li role="presentation"><%= link_to "Messages", messages_path %></li>
    <li role="presentation"><%= link_to "New Messages", new_message_path %></li>
</ul>