<ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
    <li role="presentation"><%= link_to "New Reminder", :controller => "reminders", :action => "new" %></li>
<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
</ul>