<span class="sidebar">
	<div class="nav">
		<i class="icon-home icon"></i>&nbsp;<%= link_to "Home", root_path %>
	</div>
	<div class="nav">
		<i class="icon-tasks icon"></i>&nbsp;<%= link_to "Reminders", reminders_path %>
	</div>
	<div class="nav">
		<i class="icon-user icon"></i>&nbsp;<%= link_to "Groups", groups_path %>
	</div>
	<div class="nav">
		<i class="icon-envelope icon"></i>&nbsp;<%= link_to "Messages", messages_path %>
	</div>
</span>
