<ul class="nav nav-tabs nav-stacked main-menu">
	<li>
		<%= link_to dashboard_path, :class => is_active?("home") do %>
			<i class="typcn typcn-home"></i>Dashboard
		<% end %>
	</li>
	<li>
		<%= link_to reminders_path, :class => is_active?("reminders") do %>
			<i class="typcn typcn-phone"></i>Reminders
		<% end %>
	</li>
	<li>
		<%= link_to groups_path, :class => is_active?("groups") do %>
			<i class="typcn typcn-group"></i>Groups
		<% end %>
	</li>
</ul>
