<div class="nav">
	<%= link_to dashboard_path, :class => is_active?("home") do %>
		<span class="typcn typcn-home"></span>Dashboard
	<% end %>
	</div>
	<div class="nav">
	<%= link_to reminders_path, :class => is_active?("reminders") do %>
		<span class="typcn typcn-phone"></span>Reminders
	<% end %>
	</div>
	<div class="nav">
	<%= link_to groups_path, :class => is_active?("groups") do %>
		<span class="typcn typcn-group"></span>Groups
	<% end %>
</div>
