<span class="sidebar">
	<div class="nav">
		<%= link_to dashboard_path do %>
			<i class="icon-home icon"></i>&nbsp;Dashboard
		<% end %>
	</div>
	<div class="nav">
		<%= link_to reminders_path do %>
			<i class="icon-tasks icon"></i>&nbsp;Reminders
		<% end %>
	</div>
	<div class="nav">
		<%= link_to groups_path do %>
			<i class="icon-user icon"></i>&nbsp;Groups
		<% end %>
	</div>
	<div class="nav">
		<%= link_to messages_path do %>
			<i class="icon-envelope icon"></i>&nbsp;Messages
		<% end %>
	</div>
</span>
