<% content_for :admin do %>
  <%= render 'shared/adminnav' %>
  <div class="row">
    <%= render 'shared/messages' %>
    <div id="content" class="small-10 columns">
      <%= yield %>
    </div>
  </div>
  <% end %>
  <%= render file: "layouts/application" %>
