<% content_for :content do %>
  <div id="sidebar-left" class="col-xs-1">
    <%= render 'layouts/sidebar' %>
  </div>
  <div id="content" class="col-xs-11 col-lg-11">
    <div class="span12">
      <h1><%= link_to @organization.name, admin_organization_path(@organization.id) %></h1>
    </div>
    <%= yield %>
  </div>
<% end %>
<%= render file: "layouts/application" %>
