<% content_for :organization do %>
  <%= render 'shared/subnav' %>
  <div class="row">
    <%= render 'shared/messages' %>
    <div id="content" class="small-12 columns">
      <%= yield %>
    </div>
  </div>
<% end %>
<%= render file: "layouts/application" %>
