<% content_for :organization do %>
  <%= render 'shared/subnav' %>
  <div id="content" class="small-12 columns">
    <h1><%= link_to @organization.name, admin_organization_path(@organization.id) %></h1>
    <%= yield %>
  </div>
<% end %>
<%= render file: "layouts/application" %>
